# This file is an example of a .env file that sets environment variables needed to configure Minty to pin data to nft.storage, 
# a service run by Protocol Labs that provides free storage for NFT data on IPFS, with backups to Filecoin.
#
# To use, make a copy of this file and name it ".env", and put it in the repository root or this config directory.
# Then, fill in the PINNING_SERVICE_KEY variable with a JWT access token for your nft.storage account.

# Get your JWT access token from https://nft.storage and paste it in here:
PINNING_SERVICE_KEY="Paste your nft.storage JWT token inside the quotes!"

# You can leave these values alone to use nft.storage as your pinning service.
PINNING_SERVICE_NAME="nft.storage"
PINNING_SERVICE_ENDPOINT="https://nft.storage/api"