# This file is an example of a .env file that sets environment variables needed to configure Minty to pin data to Pinata, a remote pinning service.
# To use, make a copy of this file and name it ".env", and put it in the repository root or this config directory.
# Then, fill in the PINNING_SERVICE_KEY variable with a JWT access token for your Pinata account.

# Get your JWT access token from https://pinata.cloud and paste it in here:
PINNING_SERVICE_KEY="Paste your Pinata JWT token inside the quotes!"

# You can leave these values alone to use Pinata as your pinning service.
PINNING_SERVICE_NAME="pinata"
PINNING_SERVICE_ENDPOINT="https://api.pinata.cloud/psa"